:root {
  --black: rgba(87, 87, 87, 1);
  --darkOrange: rgba(251, 147, 51, 1);
  --orange: rgba(251, 147, 0, 1);
  --pink: rgba(255, 240, 220, 1);
  --lightGray: rgba(130, 130, 130, 1);
  --white: rgba(255, 255, 255, 1);
  --lightPink: rgba(234, 221, 202, 1);
}
html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2.25rem;
}
.header__top {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.header__nav {
  margin-right: 112px;
}
.header__nav-list {
  display: flex;
  justify-content: flex-start;
}
.header__nav-item {
  display: flex;
  justify-content: center;
  padding-right: 56px;
  list-style: none;
  font-weight: 600;
  padding: 5px;
}
.header__nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  font-size: 16px;
  line-height: 130%;
}
.header__nav-link:hover {
  text-transform: lowercase;
  color: var(--orange);
}
.active {
  text-transform: capitalize;
  color: var(--orange);
}
li:nth-child(1) {
  width: 140px;
}
li:nth-child(2) {
  width: 180px;
}
li:nth-child(3) {
  width: 163px;
}
li:nth-child(4) {
  width: 215px;
}
li:nth-child(5) {
  width: 155px;
}
.orange {
  color: var(--orange);
}
.tag {
  display: flex;
  margin-top: 170px;
}
.tag-text {
  color: var(--black);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  padding: 16px;
  border-radius: 50px;
  background-color: var(--pink);
}
.header__content-inner {
  display: flex;
}
.header__content-title {
  margin-top: 78px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 47px;
  line-height: 130%;
  letter-spacing: -0.02rem;
  position: relative;
}
.header__content-image {
  position: relative;
  bottom: 179px;
}
.header__content-image::before {
  content: url(../img/spot2.svg);
  position: relative;
  left: 214px;
  top: 97px;
  z-index: -3;
}
.header__content-image::after {
  content: url(../img/spot3.svg);
  position: absolute;
  left: 144px;
  /* bottom: 750px; */
  top: -149px;
  z-index: -3;
}

.header__content-title::after {
  content: url(../img/spot.svg);
  left: 367px;
  bottom: 315px;
  z-index: -3;
  position: absolute;
}
.header__bottom {
  margin-top: -140px;
}
.header__bottom-inner {
  display: flex;
  flex-direction: row;
}
.counter {
  width: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  text-align: center;
}
.header__counter-text {
  width: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--lightGray);
  margin: 0;
}
.counter::after {
  content: "+";
}
.button {
  display: flex;
  justify-content: center;
  position: relative;
}
.headerBtn {
  text-transform: uppercase;
  padding: 22px 39px;
  border-radius: 50px;
  font-weight: 600;
  background-color: var(--darkOrange);
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}
.headerBtn::after {
  content: url(../img/bee.png);
  position: absolute;
  bottom: 15px;
}
.cart__inner {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cart__box {
  margin-top: 10px;
  padding: 0px 15px;
}
.cart__box-title {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 180%;
  margin-bottom: 5px;
  max-width: 372px;
}
.cart__box-button {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  color: var(--white);
  background-color: var(--orange);
  padding: 10px 24px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
}
.cart__box-icon {
  padding-left: 5px;
  font-size: 25px;
}
.desc__inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
  justify-content: center;
}
.desc-text {
  margin-top: 50px;
  max-width: 570px;
}
.desc_title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 37px;
  margin: 0 0 13px 0;
}
.desc-info {
  max-height: 289px;
  font-size: 19px;
  line-height: 29px;
  text-align: left;
}
.nuts-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 180%;
  color: var(--orange);
  text-align: center;
  margin-top: 92px;
  margin-bottom: -10px;
}
.sub {
  margin-top: 133px;
}
.sub__inner {
  background-color: var(--lightPink);
  border-radius: 25px;
  text-align: center;
  background-image: url("../img/subBackg.svg");
  background-position: top;
}
.sub-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-us {
  width: 450px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 180%;
  color: var(--orange);
  margin: 68px 0 0 0;
}
.sub-title {
  margin: 0;
  width: 680px;
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 140%;
}
.sub-text {
  width: 555px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 76px;
}
.sub-mail {
  position: relative;
}
.sub-input {
  width: 700px;
  padding: 27px;
  margin-bottom: 76px;
  border-radius: 50px;
  border: 1px solid white;
  border: none;
}
.submit {
  position: absolute;
  background-color: var(--orange);
  padding: 19.5px 35.5px;
  padding: 19.5px 35.5px;
  right: 288px;
  top: 8px;
  border-radius: 50px;
  border: none;
}
.about-inner {
  margin-top: 50px;
  margin-bottom: 40px;
}
.about-box {
  margin-top: 25px;
  display: flex;
}
.about__box1 {
  padding-right: 10px;
  margin-top: 5px;
}
.about__box2 {
  margin-top: 5px;
  padding-left: 10px;
}
.text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

.about-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 180%;
  color: var(--orange);
  text-align: center;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  list-style: none;
  text-align: center;
}
.li {
  text-align: center;
}
.about-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}
.footer__inner {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-address {
  width: 235px;
}
.footer__feature {
  display: flex;
  justify-content: space-between;

  flex-direction: column;
  width: 75px;
  list-style: none;
}
.footer__feature-link {
  text-decoration: none;
  color: var(--black);
  margin-bottom: 25px;
}
.footer__location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 255px;
  margin-bottom: 20px;
}
.footer__location-cor {
  margin-bottom: 40px;
}
.footer-mail,
.footer-phone,
.footer_loc {
  padding-right: 5px;
}
.footer-title {
  margin: 0 0 25px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--orange);
}
.footer__address-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 68px;
}
.footer__addres-copyright {
  margin-top: 20px;
}
.footer__location-mail,
.footer__phone-link,
.footer__location-link {
  padding: 5px 0 5px 0;
  text-decoration: none;
  color: var(--black);
}
.social-media {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}
