:root {
  --black: rgba(87, 87, 87, 1);
  --orange: rgba(251, 147, 0, 1);
  --pink: rgba(255, 240, 220, 1);
  --lightGray: rgba(130, 130, 130, 1);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2.25rem;
}
.header__top {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.header__nav {
  margin-right: 112px;
}
.header__nav-list {
  display: flex;
  justify-content: flex-start;
}
.header__nav-item {
  display: flex;
  justify-content: center;
  padding-right: 56px;
  list-style: none;
  font-weight: 600;
  padding: 5px;
}
.header__nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  font-size: 16px;
  line-height: 130%;
}
.header__nav-link:hover {
  text-transform: lowercase;
  color: var(--orange);
}
.active {
  text-transform: capitalize;
  color: var(--orange);
}
li:nth-child(1) {
  width: 140px;
}
li:nth-child(2) {
  width: 180px;
}
li:nth-child(3) {
  width: 163px;
}
li:nth-child(4) {
  width: 215px;
}
li:nth-child(5) {
  width: 155px;
}
.orange {
  color: var(--orange);
}
.tag {
  display: flex;
  margin-top: 170px;
}
.tag-text {
  color: var(--black);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  padding: 16px;
  border-radius: 50px;
  background-color: var(--pink);
}
.header__content-inner {
  display: flex;
}
.header__content-title {
  margin-top: 78px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 130%;
  letter-spacing: -0.02rem;
}
.header__content-image {
  position: relative;
  bottom: 179px;
}
.header__content-image::before {
  content: url(../img/spot2.svg);
  position: relative;
  left: 214px;
  top: 97px;
  z-index: -3;
}
.header__content-image::after {
  content: url(../img/spot3.svg);
  position: absolute;
  left: 144px;
  /* bottom: 750px; */
  top: -149px;
  z-index: -3;
}

.header__content-title::after {
  content: url(../img/spot.svg);
  left: 367px;
  bottom: 251px;
  z-index: -3;
  position: relative;
}
.header__bottom {
  margin-top: -140px;
}
.header__bottom-inner {
  display: flex;
  flex-direction: row;
}
.counter {
  width: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  text-align: center;
}
h3 {
  width: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--lightGray);
}
